.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 12px;
}

.testimonial-heading {
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
  color: #b8242a;
  font-weight: 700;
  margin-bottom: 0px;
}

.testimonial-cards-container {
  overflow: hidden;
  width: 100%;
}

.testimonial-cards-slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 200%;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 20px;
}

.testimonial-text {
  padding: 20px;
  flex: 1;
}

.testimonial-text p {
  margin: 0;
  font-family: 'Arial, sans-serif';
  color: black;
  font-size: 1.3rem;
  /* font-weight: 550; */
}

.testimonial-text p:nth-child(2) {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.testimonial-text p:nth-child(3) {
  margin-top: 5px;
  color: #b42424;
}

.stars {
  margin-top: 10px;
}

.star {
  color: gold;
  font-size: 1.5rem;
}

.testimonial-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nav-dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.nav-dot.active {
  background-color: #717171;
}

.nav-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
}

.nav-button:focus {
  outline: none;
}
